@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #111;
  text-align: center;
  padding-top: 100px;
  animation: mudarCor 5s ease;
}

@keyframes mudarCor{

  0%{
    background-color: #880e0e;
  }

  100%{
    background-color: #111;
  }

}

.barra-lateral{
  color: white;
  background-color: #222;
  position: absolute;
  top: 0;
  left: -100px;
  width: 120px;
  height: 100%;
  padding: 20px;
  box-shadow: 3px 1px red;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barra-lateral:hover{
  left: 0;
}

.rodape-lateral{
  margin-top: auto;
}

.barra-lateral a{
  color: white;
  transition: 1s;
}

.barra-lateral a:hover{
  color: red;
}

.secao{
  padding: 20px;
  display: flex;
  margin: 100px 200px;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
  /*border: 5px solid white;
  border-radius: 10px;*/
}

.item-secao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;
  border: 5px solid white;
  border-radius: 10px;
  transition: transform 0.2s;
}

.item-secao:hover{
  transform: scale(1.1);
}

.item-secao i {
  font-size: 48px;
}

.item-secao a{
  color: inherit;
}

svg{
  color: white;
  size: 48px;
}

footer {
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 80px;
    position: relative;
    bottom: 0;
    font-size: 14px;
}